.box_img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding-top: 2rem;
}
.img_thumb{
    margin: 0 auto;
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
}
.card-body{
    padding: 1.25rem 0;
}