.box_img {
    width: 300px;
    height: 300px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.dispo {
    color: green;
}

.indispo {
    color: red;
}

.box_prix {
    padding: 130px 1rem;
}

.box_article {
    padding: 0 1rem;
}

.sep {
    border-left: 1px solid black;
}

a.linkcat {
    color: #1b263b;
    text-decoration: none;
    margin-top: 1rem;
}

a.linkcat:hover {
    color: #6D81A8;
    text-decoration: none;
}

.img_thumb {
    margin: 0 auto;
    width: auto !important;
    max-width: 300px;
    height: auto;
    max-height: 300px;
}

.img_small {
    margin: 0 auto;
    width: auto !important;
    max-width: 150px;
    height: auto;
    max-height: 150px;
}

.card-body {
    padding: 1.25rem 0;
}

.card-body .col-md-4 {
    display: flex;
    flex-direction: column;
}

.card-body .col-md-4 h5 button {
    margin-top: 9px;
}

#catalog .card-title {
    margin-bottom: 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.star {
    height: 17px;
    margin: 0 auto;
    width: auto !important;
}

h5 {
    font-family: "Fontastique Fontastique";
    margin-bottom: 0;
}

h5.text-center {
    margin-bottom: 1rem;
}

#catalog h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 0.1rem;
}

.table_instrument tr td:first-child {
    width: 15%;
}

.table_instrument tr td:nth-child(3) {
    width: 15%;
}

#body-shop-single .box_img {
    width: 460px;
    height: 460px;
}

#body-shop-single .img_thumb {
    max-width: 460px;
    max-height: 460px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    #catalog .card .box_img {
        width: 200px;
        height: 190px;
    }
    #catalog .card .img_thumb {
        max-width: 190px;
        max-height: 190px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card .box_img {
        width: 200px;
        height: 190px;
    }
    .card .img_thumb {
        max-width: 190px;
        max-height: 190px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .card .box_img {
        width: 300px;
    }
    .card .img_thumb {
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 767px) {
    #categorie {
        display: grid!important;
        margin-left: auto;
        margin-right: auto;
    }
}