#categorie{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #0d1b2a;
    padding: .5rem;
}

#categorie button{
    border:none;
    background-color: transparent;
}

#categorie button.is-checked,
#categorie button:hover{
    color: #6D81A8;
}

#categorie button.is-checked{
    border-left: 2px solid #415a77;
    border-right: 2px solid #415a77;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius:1.25rem;
    -webkit-border-radius:1.25rem;
    -moz-border-radius:1.25rem;
    -ms-border-radius:1.25rem;
    -o-border-radius:1.25rem;
    font-weight: 400;
    color: #415a77;
}

#barre-Categories {
    border-bottom: 1px solid #0d1b2a;
    z-index: 999;
}

#barre-Categories ul {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

#barre-Categories li {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

#cat-horizontaly li.nav-item.active{
    font-weight: bold;
}

#cat-horizontaly li a{
    color: #0d1b2a;
}

#cat-horizontaly li a:hover{
    color: #415a77;
}