/* modifier-article.php */
p.box-return {
    text-decoration: none;
    font-size: 1rem;
    color: #0d1b2a;
    margin-left: 1rem;
}

p.box-return:hover a{
    color: #415a77;
}

p.box-return a{
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}

#paiement .nav-pills .nav-link.active, 
#paiement .nav-pills .show>.nav-link{
    background-color:#6D81A8 ;
    border: 1px solid #c4c4c4;
    color: white;
}

#paiement .nav-pills a.nav-link {
    color:#0d1b2a ;
    border: 1px solid #c4c4c4;
}

select#stars .ones,
select#stars .twos,
select#stars .threes,
select#stars .fours,
select#stars .fives{ 
    /*background-image:url(../img/sprite-star-def.png); */
    background: 2px top repeat-x url("../img/article/star.png");
    background-size: 20px 20px;
    
}