/*
CSS HEX
rich-black-fogra-29: #0d1b2aff;
oxford-blue: #1b263bff;
bdazzled-blue: #415a77ff;
slate-gray: #677B92ff;
shadow-blue: #8595A8ff;

RVBA
rich-black-fogra-29: rgba(13, 27, 42, 1);
oxford-blue: rgba(27, 38, 59, 1);
bdazzled-blue: rgba(65, 90, 119, 1);
slate-gray: rgba(103, 123, 146, 1);
shadow-blue: rgba(133, 149, 168, 1);

GRADIENT
gradient-top: linear-gradient(0deg, #0d1b2aff, #1b263bff, #415a77ff, #677B92ff, #8595A8ff);
gradient-right: linear-gradient(90deg, #0d1b2aff, #1b263bff, #415a77ff, #677B92ff, #8595A8ff);
gradient-bottom: linear-gradient(180deg, #0d1b2aff, #1b263bff, #415a77ff, #677B92ff, #8595A8ff);
gradient-left: linear-gradient(270deg, #0d1b2aff, #1b263bff, #415a77ff, #677B92ff, #8595A8ff);
gradient-top-right: linear-gradient(45deg, #0d1b2aff, #1b263bff, #415a77ff, #677B92ff, #8595A8ff);
gradient-bottom-right: linear-gradient(135deg, #0d1b2aff, #1b263bff, #415a77ff, #677B92ff, #8595A8ff);
gradient-top-left: linear-gradient(225deg, #0d1b2aff, #1b263bff, #415a77ff, #677B92ff, #8595A8ff);
gradient-bottom-left: linear-gradient(315deg, #0d1b2aff, #1b263bff, #415a77ff, #677B92ff, #8595A8ff);
gradient-radial: radial-gradient(#0d1b2aff, #1b263bff, #415a77ff, #677B92ff, #8595A8ff);

*/

/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Fontastique Fontastique";
    src:url("fontastique.eot?") format("eot"),
    url("fontastique.woff") format("woff"),
    url("fontastique.ttf") format("truetype"),
    url("fontastique.svg#Fontastique-Fontastique") format("svg");
    font-weight:normal;
    font-style:normal;
}

#title{
    font-family:"Fontastique Fontastique";
    font-size: 4.2em;
}