#cart table {
    border-radius: 0.3rem;
    color: #fff;
}

#cart .box_img {
    width: 300px;
    height: 30px!important;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

#cart h6 {
    font-family: "Fontastique Fontastique";
}

#cart h5,
#cart h6,
#cart .card-title {
    color: #1b263b;
}

#cart .img_thumb {
    max-height: 170px;
}

#cart .btn.btn-light {
    padding: 0px;
    padding-bottom: 2px;
    height: 18px;
    line-height: 10px;
    width: 18px;
}

#cart .btn.btn-light:hover {
    background-color: #0d1b2a;
    color: #fff;
}

#cart .text_right {
    text-align: right;
}

#cart .tbl-container {
    border-radius: 0.3rem;
    background-color: #415A77;
    color: #fff;
}

#cart input.mini {
    width: 28px !important;
    border-radius: 0.25rem;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
}

#miniTabCart .card.col-md-12 {
    width: 290px;
}

#miniTabCart .box_img {
    width: 100px;
    height: 45px;
    margin: 0;
    padding: 0;
}

#miniTabCart .card-body {
    padding: 0.25rem 0;
}

#miniTabCart .box_img .img_thumb {
    max-width: 70px;
    max-height: 45px;
    margin: 0;
    padding: 0;
}

#miniTabCart h5,
#miniTabCart .card-title {
    font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    #cart .card .box_img {
        width: 200px;
    }
    #cart .card .img_thumb {
        max-width: 200px;
        max-height: 200px;
        margin-left: 160px;
        margin-top: -15px;
    }
}

@media (max-width: 767px) {
    #cart .card .box_img {
        width: 100px;
    }
    #cart .card .img_thumb {
        max-width: 100px;
        max-height: 100px;
        margin-left: 100px;
        margin-top: 55px;
    }
}